<!DOCTYPE html>
<head>
    <title>Digiton - Выводим бизнес в онлайн</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
    <div class="header">
        <div class="container flex-header">
            <img src="/static/img/logo.png" />
            <div class="header-right">
                <div class="header-menu">
                    <a href="">Решения для бизнеса</a>
                    <a href="">Крупным проектам</a>
                    <a href="">Мобильная разработка</a>
                    <a href="" class="header-menu-tel">+7 708 105 11 60</a>
                </div>
            </div>
        </div>
    </div>
    <div class="top-cover">
        <div class="top-center">
            <p class="small-text">Digital agency</p>
            <h1>Выводим бизнес в онлайн</h1>
            <p class="add-text">Разработка сайтов и мобильных приложений.</p>
            <p class="add-text">Маркетинговое продвижение и вывод в e-Commerce.</p>
        </div>
        <div class="top-numbers">
            <div class="top-number">6</div>
            <div class="top-text">лет на<br /> рынке</div>
            <div class="top-number">10</div>
            <div class="top-text">проектов<br /> реализовано</div>
        </div>
    </div>
    <div class="figures-cover">
        <div class="figure-cover active" id="figure-1">
            <div class="figure-text container">
                <div class="figure-left">
                    <h2>Хотите запустить бизнес с нуля?</h2>
                    <p>Поможем вам создать собственную площадку интернет присутствия: сайт, интернет магазины, посадочные страницы, android  и iOS приложения.</p>
                    <button>Получить консультацию</button>
                </div>
                <div class="figure-right">
                    Создаем диджитал продукты мирового уровня под ключ.
                </div>
            </div>
        </div>
        <div class="figure-cover circle" id="figure-2">
            <div class="figure-text container">
                <div class="figure-left">
                    <h2>Не достаточно клиентов?</h2>
                    <p>Мы помогаем бизнесу получить больше клиентов благодаря переходу из оффлайн в онлайн. Обеспечим продвижение интернет-площадки в сети по согласованному с вами сценарию.</p>
                    <button>Получить консультацию</button>
                </div>
                <div class="figure-right">
                    Увеличим кратно рост продаж открыв новые каналы привлечения.
                </div>
            </div>
        </div>
        <div class="figure-cover triangle" id="figure-3">
            <div class="figure-text container">
                <div class="figure-left">
                    <h2>Нужно сократить расходы?</h2>
                    <p>
                        Аутсорсинг маркетинговых услуг: digital маркетинг, SEO, SMM, контекстная реклама, таргетированная реклама, копирайтинг.<br /><br />
                        Аутсорсинг команды разработки: продакт менеджеры, UX/UI дизайнеры, frontend и backend разработчики, QA инженеры.
                    </p>
                    <button>Получить консультацию</button>
                </div>
                <div class="figure-right">
                    Занимайтесь своим бизнесом, мы займемся его продвижением.
                </div>
            </div>
        </div>
    </div>
    <div class="offer-solutions-cover">
        <div class="container">
            <h3>Предлагаем свои решения</h3>
            <div class="solutions-cover">
                <div class="solution-cover">
                    <div class="solution-header">
                        <h4>Сайт визитка</h4>
                        <div class="solution-header-small">от 200 000 тг</div>
                    </div>
                    <div class="solution-body">
                        <p>Домен, хостинг</p>
                        <p>Админ панель управления сайтом</p>
                        <p>О компании</p>
                        <p>Описание услуг или портфолио</p>
                        <p>Контакты, форма обратной связи</p>
                    </div>
                    <button class="leave-review">Оставить заявку</button>
                </div>
                <div class="solution-cover">
                    <div class="solution-header">
                        <h4>Интернет-магазин</h4>
                        <div class="solution-header-small">от 400 000 тг</div>
                    </div>
                    <div class="solution-body">
                        <p>Домен, хостинг, SSL</p>
                        <p>Админ панель управления сайтом</p>
                        <p>Разработка индивидуального дизайна</p>
                        <p>Каталог товаров или услуг</p>
                        <p>Регистрация пользователей</p>
                        <p>Настройка онлайн оплаты</p>
                        <p>Контакты, форма обратной связи</p>
                    </div>
                    <button class="leave-review">Оставить заявку</button>
                </div>
                <div class="solution-cover">
                    <div class="solution-header">
                        <h4>Продвижение</h4>
                        <div class="solution-header-small">от 100 000 тг</div>
                    </div>
                    <div class="solution-body">
                        <p>Настройка таргетированной рекламы</p>
                        <p>Разработка брендинга, баннеров и вижуалов</p>
                        <p>Аналитика маркетинга и продаж</p>
                        <p>SEO оптимизация</p>
                        <p>SMM продвижение</p>
                        <p>Стратегия продвижения бизнеса в интернете</p>
                    </div>
                    <button class="leave-review">Оставить заявку</button>
                </div>
            </div>
        </div>
    </div>
    <div class="about-us-cover">
        <div class="container">
            <div class="about-top">
                <img class="big-me" src="/static/img/us.png" />
                <div class="big-me-text">Опытная команда с портфолио более 10 проектов различной сложности. Средний опыт работы наших сотрудников в сфере 8 лет.</div>
            </div>
            <div class="about-bottom">
                <div class="team market-team">
                    <div class="top-text">Команда продвижения</div>
                    <div class="team-text">Маркетологи<br /> SEO специалисты<br /> SMM специалисты</div>
                </div>
                <div class="team developer-team">
                    <div class="top-text">Команда разработки</div>
                    <div class="team-text">Продакт менеджеры, UX/UI дизайнеры, backend<br /> разработчики, frontend разработчики, android и iOS<br /> разработчики, QA инженеры</div>
                </div>
            </div>
        </div>
    </div>
    <div class="how-we-work-cover">
        <div class="container">
            <h3>Как мы работаем</h3>
            <p class="how-we-work-additional">Прозрачность, репутация важнее прибыли, выполнение работы в срок, гибкость,<br /> работа на результат - наши принципы работы.</p>
            <div class="how-we-work-steps">
                <div class="work-step">
                    <div class="step-number">1.</div>
                    <div class="step-text">Постановка ТЗ на внедрение функционала для SEO</div>
                </div>
                <div class="work-step">
                    <div class="step-number">2.</div>
                    <div class="step-text">Проектирование структуры и дизайна продукта</div>
                </div>
                <div class="work-step">
                    <div class="step-number">3.</div>
                    <div class="step-text">Проектирование архитектуры баз данных</div>
                </div>
                <div class="work-step">
                    <div class="step-number">4.</div>
                    <div class="step-text">Продукт, ориентированный на пользователя (UX development)</div>
                </div>
                <div class="work-step">
                    <div class="step-number">5.</div>
                    <div class="step-text">Внедрение в бизнем диджитал аналитики и маркетинга</div>
                </div>
                <div class="work-step">
                    <div class="step-number">6.</div>
                    <div class="step-text">Внедрение аналитики для остлеживания поведения юзера</div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-bottom">
        <div class="container">
            <div class="bottom-flex">
                <h3>Члены нашей команды учавствовали в разработке:</h3>
                <div class="arrows">
                    <img src="/static/img/left-arrow.png" onclick="change()" />
                    <img src="/static/img/right-arrow.png" onclick="change()" />
                </div>
            </div>
            <div class="companies-cover">
                <div class="companies" id="companies">
                    <img class="qoove" src="/static/img/qoove.png" />
                    <img src="/static/img/goodplaces.png" />
                    <img src="/static/img/voxball.png" />
                    <img src="/static/img/santufei.png" />
                    <img class="qoove" src="/static/img/qoove.png" />
                    <img src="/static/img/goodplaces.png" />
                    <img src="/static/img/voxball.png" />
                    <img src="/static/img/santufei.png" />
                </div>
            </div>
            <div class="send-cover">
                <h4>Сколько будет стоить выход вашего бизнеса в интернет?</h4>
                <div class="inputs">
                    <form action="" method="post">
                        {% csrf_token %}
                        {{ form.name }}
                        {{ form.phone }}
                        {{ form.info }}
                        <button>Отправть</button>
                    </form>
                </div>
            </div>
            <div class="bottom-text">
                <div class="we-are-in-here">Мы находимся в г. Алматы</div>
                <div class="we-email">hi@digiton.kz</div>
                <div class="we-phone">+ 7 777 330 02 79</div>
            </div>
        </div>
    </div>
</body>
<script src="/static/script.js"></script>
